* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    font-family: 'Arial', sans-serif;
    scroll-behavior: smooth;
    background-color: #EAE7F8; /* Color de fondo general */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Estilos actualizados de la barra de navegación */
.navbar {
    background: linear-gradient(to right, #6A6D9E, #EAE7F8); /* Ejemplo de degradado */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem; /* Reducido para una barra más delgada */
    position: fixed; /* Fija en la parte superior */
    top: 0;
    left: 0;
    width: 100%; /* Asegura que se extienda a lo ancho de la página */
    z-index: 1000;
    transition: padding 0.3s ease;
}

.navbar.smaller {
    padding: 0.25rem 1rem; /* Aún más reducido */
}

/* Media queries para responsividad */
@media (max-width: 768px) {
    /* Ajustes para la barra de navegación en pantallas más pequeñas */
    .navbar {
        padding: 0.25rem 1rem; /* Ajuste el padding como desees para dispositivos móviles */
    }
    
    /* ... otros estilos responsivos ... */
}

.logo img {
    height: 50px; /* Ajusta al tamaño de tu logo */
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    padding: 0 20px;
}

.nav-links a {
    text-decoration: none;
    color: #5D5C61;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #9A8C98; /* Color al pasar el ratón */
}

.intro-section {
    text-align: center;
    padding: 100px 0;
    color: #5D5C61; /* Color del texto */
}

.intro-section h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #4A4E69; /* Color del título */
}

.intro-section p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.contact-button {
    display: inline-block;
    text-decoration: none;
    background-color: #C9ADA7;
    color: #fff;
    padding: 10px 25px;
    border-radius: 25px;
    transition: background-color 0.3s ease;
}

.contact-button:hover {
    background-color: #9A8C98;
}

footer {
    text-align: center;
    padding: 20px 0;
    color: #5D5C61;
    font-size: 0.9rem;
}

/* Nuevos estilos para la sección 'Events' */
.sponsors-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 100px 0;
    background: #F0EEFF; /* Ajusta este color para que coincida con el de tu diseño */
    color: #5D5C61;
}

.sponsors-content {
    width: 50%;
    padding-right: 50px; /* Ajusta según necesidad para dar espacio entre el texto y la imagen */
}

.sponsors-content h2 {
    color: #6A6D9E; /* Color para el subtítulo */
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.sponsors-content h1 {
    color: #4A4E69; /* Color para el título principal */
    font-size: 3rem;
    margin-bottom: 1rem;
}

.sponsors-content hr {
    border: none;
    height: 4px;
    background-color: #6A6D9E; /* Color para la línea horizontal */
    width: 50%; /* Ancho de la línea */
    margin-bottom: 2rem;
}

.sponsors-content p {
    margin-bottom: 1rem;
    line-height: 1.6;
}

.sponsors-graphics {
    width: 40%;
    background-image: url('recursos/CATTLEYA\ OFICIAL.png');
    background-size: cover;
    background-position: center;
    height: 500px; /* Ajusta la altura según tu diseño */
    border-radius: 20px; /* Ajusta para redondear las esquinas */
}

/* ... estilos existentes ... */

/* Estilos para la sección 'Sponsors' */
.events-section {
    background-color: #EAE7F8; /* Color de fondo general */
    text-align: center;
    padding: 100px 0;
}

.events-section h2 {
    color: #6A6D9E; /* Color de los títulos de sección */
    margin-bottom: 50px;
    font-size: 2.5rem;
}

.event-cards-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
}

.event-card {
    width: 300px;
    background-color: #fff;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
}

.event-card img {
    width: 100%; /* Asegúrate de que las imágenes de los sponsors se ajusten al contenedor */
    height: auto;
    margin-bottom: 20px;
}

.event-card h3 {
    color: #4A4E69; /* Color para el título del sponsor */
    margin-bottom: 15px;
}

.event-card p {
    color: #5D5C61; /* Color para la descripción del sponsor */
    margin-bottom: 15px;
}

.event-card .price-tag {
    /* Estilos para la etiqueta de precio, si es necesaria */
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #C9ADA7;
    color: #fff;
    padding: 5px 10px;
    border-radius: 25px;
    text-transform: uppercase;
    font-weight: bold;
}

.event-card .sponsor-button {
    /* Estilos para el botón 'Get Started' */
    background-color: #C9ADA7;
    color: #fff;
    padding: 10px 25px;
    border-radius: 25px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
}

.event-card .sponsor-button:hover {
    background-color: #9A8C98;
}

@media (max-width: 992px) {
    .event-cards-container {
        flex-direction: column;
        align-items: center;
    }

    .event-card {
        width: 80%; /* Ajusta este valor según prefieras */
    }
}

@media (max-width: 768px) {
    .nav-links {
        display: none; /* O puedes cambiar a un menú de hamburguesa */
    }

    .nav-links li {
        padding: 10px 0;
    }

    .logo img {
        height: 40px;
    }

    /* ... */
}



@media (max-width: 768px) {
    .sponsors-section {
        flex-direction: column;
        text-align: center;
    }

    .sponsors-content {
        width: 100%;
        padding-right: 0;
    }

    .sponsors-content h1 {
        font-size: 2.5rem;
    }

    .sponsors-graphics {
        width: 80%;
        margin: 0 auto;
        height: 300px; /* Ajusta la altura según la responsividad */
    }
}

@media (max-width: 768px) {
    .nav-links {
    display: none; /* O puedes cambiar a un menú de hamburguesa */
    }

.nav-links li {
    padding: 10px 0;
    }

.logo img {
    height: 40px;
    }
}

/* Añade aquí más estilos responsivos y para otros elementos que incluyas */



/* Estilos para la sección 'Champions' */
.champions-section {
    background-color: #6A6D9E; /* El color de fondo de la sección */
    color: #FFFFFF;
    padding: 100px 0;
    text-align: center;
    position: relative;
    overflow: hidden; /* En caso de que haya elementos que salgan del contenedor */
}

.champions-banner {
    position: relative;
    z-index: 2; /* Asegura que el contenido se muestre por encima del fondo */
}

.champions-section h2 {
    font-size: 3rem; /* Ajusta el tamaño del texto según sea necesario */
    margin-bottom: 0.5rem;
    color: #FFFFFF; /* Puede que necesites cambiar el color dependiendo del fondo */
}

.champions-section h1 {
    font-size: 5rem; /* Ajusta el tamaño del texto según sea necesario */
    font-weight: bold;
    margin-bottom: 1rem;
    color: #FFFFFF;
}

.champions-section p {
    font-size: 1.5rem; /* Ajusta el tamaño del texto según sea necesario */
    margin-bottom: 2rem;
}

.champions-section .contact-button {
    background-color: #C9ADA7; /* Color de fondo del botón */
    color: #FFFFFF;
    padding: 10px 25px;
    border-radius: 25px;
    font-size: 1.2rem; /* Ajusta el tamaño del texto según sea necesario */
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.champions-section .contact-button:hover {
    background-color: #9A8C98; /* Color de fondo del botón al pasar el ratón */
}

/* Estilo para cualquier decoración de fondo o imagen que desees incluir */
.champions-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('path_to_your_decorative_background_image.png') no-repeat center center;
    background-size: cover;
    opacity: 0.2; /* Ajusta la opacidad para el efecto deseado */
    z-index: 1; /* Coloca el fondo detrás del contenido */
}


@media (max-width: 992px) {
    .champions-section h2 {
        font-size: 2.5rem;
    }
    .champions-section h1 {
        font-size: 4rem;
    }

    .champions-section p {
        font-size: 1.2rem;
    }

}

@media (max-width: 768px) {
    .champions-section {
        padding: 50px 0;
    }

    .champions-section h2 {
        font-size: 2rem;
    }
    
    .champions-section h1 {
        font-size: 3.5rem;
    }
    
    .champions-section p {
        font-size: 1rem;
    }
    
    .champions-section .contact-button {
        padding: 8px 20px;
        font-size: 1rem;
    }

}

/* Asegúrate de seguir la convención de tus estilos existentes para coherencia */

/* Estilos para la sección 'Testimonios' */
.testimonials-section {
    background: linear-gradient(90deg, #EAE7F8 50%, #6A6D9E 50%);
    color: #ffffff;
    padding: 100px 0;
    text-align: center;
    position: relative;
}

.testimonials-header {
    max-width: 50%;
    margin: 0 auto;
}

.testimonials-section h2 {
    font-size: 2.5rem; /* Ajusta esto según tu diseño */
    margin-bottom: 20px;
}

.testimonials-section p {
    margin-bottom: 50px; /* Ajusta esto según tu diseño */
    font-size: 1.2rem; /* Ajusta esto según tu diseño */
}

/* Media queries para responsividad */
@media (max-width: 992px) {
    .testimonials-header {
        max-width: 70%;
    }
}

@media (max-width: 768px) {
    .navbar .nav-links {
    display: none; /* Cambia a un menú de hamburguesa si es necesario */
    }

    .navbar .logo img {
        height: 40px;
    }
    
    .testimonials-section {
        padding: 50px 0;
    }
    
    .testimonials-section h2 {
        font-size: 2rem;
    }
    
    .testimonials-section p {
        font-size: 1rem;
    }
}