/* Estilos base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    font-family: 'Arial', sans-serif;
    scroll-behavior: smooth;
    background-color: #EAE7F8;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Barra de navegación */
.navbar {
    background: linear-gradient(to right, #f2e8fd, #6d7af4);
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: padding 0.3s ease;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    height: 80px;
    border-bottom-left-radius: 40px; /* Redondea la esquina inferior izquierda */
    border-bottom-right-radius: 40px; /* Redondea la esquina inferior derecha */
    justify-content: flex-start; /* Cambiado para alinear el logo a la izquierda */
}

/* Logo y navegación */
.logo {
    background: #FFFFFF; /* Fondo blanco para el círculo */
    position: absolute;
    border-radius: 50%; /* Hace que el fondo sea circular */
    transform: translateY(50%); /* Desplazar hacia arriba la mitad de su propia altura para centrarlo verticalmente */
    top: 10%; /* Posiciona el logo a la mitad de la altura del navbar */
    left: 2rem; /* Aumenta la distancia desde la izquierda para mover el logo hacia la derecha */
    margin-top: 0; /* Elimina el margen superior si existe */
    /* Ajusta el siguiente valor para que el logo quede a la mitad fuera de la barra */
    z-index: 10; /* Asegúrate de que el logo esté sobre otros elementos */
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3); /* Sombra desplazada hacia la derecha */
    display: flex; /* Centra la imagen del logo */
    justify-content: center;
    align-items: center;
    width: 80px; /* Tamaño del círculo */
    height: 80px; /* Tamaño del círculo */

}

.logo img {
    height: 60px;
}

.nav-links {
    margin-left: auto; /* Empuja los enlaces de navegación a la derecha */
    list-style: none;
    display: flex;
}

.nav-links li {
    padding: 0 20px;
}

.nav-links a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #9A8C98;
}


/* Sección de introducción */
.intro-section {
    background: linear-gradient(135deg, #B6AEFF 0%, #EAE7F8 100%);
    text-align: center;
    padding: 150px 0;
    color: #4A4E69;
    position: relative;
    overflow: hidden;
}

.intro-section h1 {
    font-size: 3.5rem; /* Ajusta el tamaño según el diseño */
    color: #4A4E69;
    margin-bottom: 0.5rem;
}

.intro-section p {
    font-size: 1.5rem; /* Ajusta el tamaño según el diseño */
    margin-bottom: 2rem;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    color: #5D5C61;
}

.contact-button {
    background-color: #C9ADA7;
    color: #FFFFFF;
    padding: 15px 35px;
    border-radius: 30px;
    font-size: 1.2rem;
    text-decoration: none;
    display: inline-block;
    margin-top: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Ajustes para el fondo de la sección Home, si es necesario */
.intro-section::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('path_to_your_flower_background_image.png') no-repeat center center;
    background-size: contain;
    opacity: 0.5;
    z-index: -1;
}

/* Botones de contacto */
.contact-button, .event-card .sponsor-button {
    background-color: #C9ADA7;
    color: #fff;
    padding: 10px 25px;
    border-radius: 25px;
    transition: background-color 0.3s ease;
    text-decoration: none;
    display: inline-block;
}

.contact-button:hover, .event-card .sponsor-button:hover {
    background-color: #9A8C98;
}

/* Pie de página */
footer {
    text-align: center;
    padding: 20px 0;
    color: #5D5C61;
    font-size: 0.9rem;
}

/* Sección de eventos */
.events-container, .event-cards-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
}

.event-card {
    width: 300px;
    background-color: #fff;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
}

.event-card img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.event-card h3 {
    color: #4A4E69;
    margin-bottom: 15px;
}

.event-card p {
    color: #5D5C61;
    margin-bottom: 15px;
}

.event-card .price-tag {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #C9ADA7;
    color: #fff;
    padding: 5px 10px;
    border-radius: 25px;
    text-transform: uppercase;
    font-weight: bold;
}

/* Media queries */
@media (max-width: 992px) {
    .event-cards-container, .events-container {
        flex-direction: column;
        align-items: center;
    }

    .event-card {
        width: 80%;
    }
}

/* Media queries para responsividad */
@media (max-width: 992px) {
    /* Ajustes intermedios si es necesario */
}

@media (max-width: 768px) {

    .navbar {
        padding: 0.5rem; /* Ajusta el padding para vistas más pequeñas si es necesario */
        padding-top: 0.25rem; /* Ajustar según sea necesario */
        padding-bottom: 0.25rem; /* Ajustar según sea necesario */
    }

    .navbar .nav-links {
        display: none;
    }

    .navbar .logo {
        width: 50px; /* Reduce el tamaño del círculo para dispositivos móviles */
        height: 50px; /* Reduce el tamaño del círculo para dispositivos móviles */
        left: 0.5rem; /* Ajusta la posición horizontal para vistas más pequeñas */
    }

    .navbar .logo img {
        height: 80%; /* Asegúrate de que el logo se ajusta bien dentro del círculo más pequeño */
    }
    
    .intro-section, .events-section, .sponsors-section, .champions-section, .testimonials-section {
        padding: 50px 0;
    }

    .intro-section h1, .events-section h2, .sponsors-section h2, .champions-section h2, .testimonials-section h2 {
        font-size: 2rem;
    }

    .intro-section p, .sponsors-section p, .champions-section p, .testimonials-section p {
        font-size: 1rem;
    }
    
    .contact-button, .event-card .sponsor-button {
        padding: 8px 20px;
        font-size: 1rem;
    }
}

