/* Estilos Generales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #5A5A5A; /* Color de texto general (Gris oscuro) */
    background-color: #FAE8E0; /* Color de fondo general (Rosa claro) */
    padding-bottom: 60px; /* Espacio adicional para el pie de página */
}

h1, h2, h3 {
    color: #D35D6E; /* Color para los encabezados (Rojo) */
}

a {
    color: #55828B; /* Color para los enlaces (Azul verdoso) */
    text-decoration: none;
}

/* Cabecera */
header {
    background-color: #2E4C63; /* Color de fondo para la cabecera (Azul oscuro) */
    color: #FAE8E0; /* Texto blanco para contraste */
    text-align: center;
    padding: 1em 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #FAE8E0; /* Color para los enlaces del menú (Rosa claro) */
    font-weight: bold;
}

nav ul li a:hover {
    color: #D35D6E; /* Color para los enlaces del menú al pasar el mouse (Rojo) */
}

/* Secciones Principales */
section {
    margin: 20px;
    padding: 20px;
    background-color: #FAE8E0; /* Color de fondo para las secciones (Rosa claro) */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

/* Estilos para Productos */
.producto {
    border: 1px solid #D35D6E; /* Borde de color rojo para los productos */
    padding: 10px;
    margin-bottom: 20px;
    background-color: #EAD2AC; /* Fondo de color naranja claro para los productos */
    text-align: center; /* Centra el contenido del producto */
}

.producto img {
    max-width: 100%; /* Hace que la imagen sea responsive */
    height: auto; /* Mantiene la proporción de la imagen */
    max-height: 200px; /* Altura máxima de la imagen */
    margin-top: 10px; /* Espacio por encima de la imagen */
    border-radius: 8px; /* Bordes redondeados para la imagen */
    box-shadow: 0 2px 4px rgba(0,0,0,0.2); /* Sombra ligera para dar profundidad */
}

/* Pie de Página */
footer {
    background-color: #2E4C63; /* Color de fondo para el pie de página (Azul oscuro) */
    color: #FAE8E0; /* Color del texto para el pie de página (Rosa claro) */
    text-align: center;
    padding: 1em 0;
    position: fixed; /* Fijo en la parte inferior de la ventana */
    bottom: 0;
    width: 100%;
    z-index: 100; /* Asegura que el pie de página esté sobre otros elementos */
}

footer .social-media-links {
    text-align: center;
    margin-bottom: 10px;
}

footer .social-media-links a {
    margin: 0 5px;
    display: inline-block;
}

footer .social-media-links img {
    width: 40px; /* Ajusta el tamaño según tus necesidades */
    height: auto;
    transition: transform 0.3s ease;
}

footer .social-media-links img:hover {
    transform: scale(1.1); /* Efecto de crecimiento al pasar el cursor */
}


/* Responsive Design */
@media (max-width: 768px) {
    nav ul li {
        display: block;
        text-align: center;
        margin-bottom: 5px;
    }
}

/* Para el blog */
.blog-container {
    text-align: center;
}

.blog-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

.blog-card {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.blog-card:hover {
    transform: translateY(-5px);
}

.blog-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.blog-content {
    padding: 1rem;
}

.blog-read-more {
    background-color: #D35D6E;
    color: #ffffff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    display: inline-block;
    margin-top: 0.5rem;
}

.blog-read-more:hover {
    background-color: #E53935;
}

.logo-container {
    text-align: center; /* Centra el logotipo */
    padding: 10px; /* Espaciado alrededor del logotipo */
}

.logo-container img {
    max-width: 100%; /* Hace el logotipo responsivo */
    height: auto; /* Mantiene la relación de aspecto */
    max-height: 170px; /* Ajusta esto según el tamaño deseado */
}
